<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/htmlHead.ejs", { csspath: "/css/adminCss/addproduct/addproduct.css" }) %>
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/adminNavbar.ejs') %>

    <div class="container-fluid wrapper">
        <!-- Left Panel -->
        <%- include("../partials/adminLeftsidebar.ejs") %>

        <div class="mainpanel">
            <nav class="navbar rounded-3 bg-body-tertiary">
                <div class="container-fluid">
                    <h4>Add Product</h4>
                </div>
            </nav>
            <!-- Nav ends    -->
       <form id="form" action="/admin/updateProduct" method="post" enctype="multipart/form-data" >
            <div class="productDetails row pb-5">
                <div class="left col-md-5">

                    <!-- <form id="productForm" action="/add-product" method="POST" enctype="multipart/form-data"> -->
                        <label for="productName">Product Name</label>
                        <input id="productName" type="text" value="<%= dbResult.productName%>" class="form-control" name="productName" placeholder="Product Name" >
                        <div id="productNameErr" class="validate-err"></div>

                        <input type="hidden" id="_id" name="_id" value="<%= dbResult._id %>">

                        <label for="brand">Brand</label>
                        <input id="brandName" type="text" value="<%= dbResult.brand%>" class="form-control" name="brand" placeholder="Brand of the product" >
                        <div id="brandNameErr" class="validate-err"></div>

                        <label for="color">Color</label>
                        <input id="color" type="text" value="<%= dbResult.color%>" class="form-control" name="color" placeholder="Color" >
                        <div id="colorErr" class="validate-err"></div>

                        <label for="size">Size</label>
                        <input id="size" type="text" value="<%= dbResult.size%>"  class="form-control" name="size" placeholder="Size" >
                        <div id="sizeErr" class="validate-err"></div>

                        <label for="size">Quantity</label>
                        <input id="quantity" type="number" value="<%= dbResult.quantity%>"  class="form-control" name="quantity" placeholder="quantity" >
                        <div id="quantityErr" class="validate-err"></div>

                        
                        <label for=" Regular Price">Regular Price</label>
                        <input id="regularPrice" type="number" value="<%= dbResult.regularPrice%>" class="form-control" min="0" name="regularPrice" placeholder="Regular Price" >
                        <div id="priceErr1" class="validate-err"></div>

                        <label for="Selling price">selling Price</label>
                        <input id="sellingPrice" type="number" value="<%= dbResult.sellingPrice%>" class="form-control" min="0" name="sellingPrice" placeholder="Selling Price" >
                        <div id="priceErr2" class="validate-err"></div>

                        <label for="material">Material</label>
                        <input id="material" type="text" value="<%= dbResult.material%>" class="form-control" name="material" placeholder="Material of the product..." >
                        <div id="materialErr" class="validate-err"></div>


                        <label for="">Product status</label><br>
                        <select name="status" class="w-100 " name="" id="">
                            <option value ="Available">Available</option>
                            <option  value ="Out of Stock" >Out of Stock</option>
                        </select><br>

                        <label for="description">About</label>
                        <input id="description" type="text" value="<%= dbResult.description%>" class="form-control" name="description" placeholder="Detailed description about the product.." >
                        <div id="descriptionErr" class="validate-err"></div>
                    <!-- </form> -->
                </div>

                <div class="col-md-5 right">

                    <div>
                        <% dbResult.productImage.forEach((ele) => { %>

                        <div class="position-relative d-inline-block me-2 mt-2">
                            <img class="rounded-3 border border-dark" height="100" src="<%= ele  %>" alt="">

                            <a class="imageDeleteBtn" href="/admin/removeProductImage/?productId=<%= dbResult._id%>&image=<%= ele%>">
                                <button type="button" class="btn-close position-absolute bg-danger " style="top: 0; right: 0;" aria-label="Close"></button>
                            </a>
                        </div>

                      <%  });  %>
                    
                    </div>

                   <!-- First image input -->
                    <div>
                        <label for="productImage1">Upload Image 1</label>
                        <input type="file" id="productImage1"  class="form-control" accept=".jpeg,.jpg,.png" onchange="prepareCrop(event, 'imagePreview1')">
                        <img id="imagePreview1" src="" alt="Image Preview 1" style="display:none; width:100%; max-height:200px; object-fit:contain;">
                        <canvas id="cropImage1" name="cropImage1" style="display:none;"></canvas>
                        <button type="button" class="btn btn-primary mt-2" onclick="cropImage('cropImage1', 'croppedImagePreview1')">Crop Image 1</button>
                        <div id="croppedImagePreview1" class="mt-3"></div>
                    </div>

                    <!-- Second image input -->
                    <div>
                        <label for="productImage2">Upload Image 2</label>
                        <input type="file" id="productImage2"  class="form-control" accept=".jpeg,.jpg,.png" onchange="prepareCrop(event, 'imagePreview2')">
                        <img id="imagePreview2" src="" alt="Image Preview 2" style="display:none; width:100%; max-height:200px; object-fit:contain;">
                        <canvas id="cropImage2" name="cropImage2" style="display:none;"></canvas>
                        <button type="button" class="btn btn-primary mt-2" onclick="cropImage('cropImage2', 'croppedImagePreview2')">Crop Image 2</button>
                        <div id="croppedImagePreview2" class="mt-3"></div>
                    </div>

                    <!-- Third image input -->
                    <div>
                        <label for="productImage3">Upload Image 3</label>
                        <input type="file" id="productImage3"  class="form-control" accept=".jpeg,.jpg,.png" onchange="prepareCrop(event, 'imagePreview3')">
                        <img id="imagePreview3" src="" alt="Image Preview 3" style="display:none; width:100%; max-height:200px; object-fit:contain;">
                        <canvas id="cropImage3" name="cropImage3" style="display:none;"></canvas>
                        <button type="button" class="btn btn-primary mt-2" onclick="cropImage('cropImage3', 'croppedImagePreview3')">Crop Image 3</button>
                        <div id="croppedImagePreview3" class="mt-3"></div>
                    </div>
                </div>
                
                <div class="w-50">
                    <a href="/admin/products">
                       <button id="cancelBtn"  type="button" class="btn btn-danger" >Cancel</button> 
                    </a>
                    
                    <button id="submitBtn" type="button" class="btn btn-success" >Update product</button>
                </div>

            </div>
        </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/adminjs/editproduct.js"></script>

</body>
</html>
