<html lang="en">
<head>
  
  <%-include('../../partials/htmlHeadUser.ejs',{csspath:'/css/userCss/purchase/cart.css'})  %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="d-flex flex-column">

  <%- include('../../partials/userNavbar.ejs')  %>

  <section class=" container rounded-2 bg-light">
    <ol class="d-flex align-items-center list-unstyled m-0 ">
        <li><a class="text-decoration-none" href="/home">Home/</a></li>
        <li><a class="text-decoration-none" > Cart</a></li>
    </ol>
</section>

<header>
    <section class="h-100 gradient-custom">
        <div class="container py-2">
          <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0" id="totalItems">Items (<%=totalItems  %>)</h5> 
                </div>

                <div class="card-body ">

                  <% for( let item of cartitems){ %>

                  <!-- Single item -->
                  <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                      <!-- Image -->
                      <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <img src="<%= item.allProducts[0].productImage[0]  %>"
                          class="w-100" alt="Blue Jeans Jacket" />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                      </div>
                      <!-- Image -->
                    </div>
      
                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <!-- Data -->
                      <p><strong><%= item.allProducts[0].productName.substring(0,30)+'...'  %></strong></p>
                      <p>Color: <%= item.allProducts[0].color %></p>
                      <p>Size: <%= item.allProducts[0].size %></p>
                      <p>Brand: <%= item.allProducts[0].brand %></p>
                      <p >Price: ₹ <span class="price"><%= item.allProducts[0].sellingPrice %></span>/-</p>

                      <a id="removeBtn" href="/removeCartItem/?_id=<%= item.allProducts[0]._id %>">
                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-sm me-1 mb-2" data-mdb-tooltip-init
                          title="Remove item">
                            <i class="fas fa-trash  text-danger "></i>
                        </button>
                      </a>
                      <!-- movr to wish list -->
                      <!-- <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-sm mb-2" data-mdb-tooltip-init
                        title="Move to the wish list">
                        <i class="fas fa-heart"></i>
                      </button> -->
                      <!-- Data -->
                    </div>
      
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <!-- Quantity -->
                      <div id="items" class="d-flex mb-4" style="max-width: 300px">

                        <button id="decCounter" productId="<%= item.allProducts[0]._id %>"   data-mdb-button-init data-mdb-ripple-init  class="btn btn-primary px-3 me-2 countBtn "
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()" >
                          <i class="fas fa-minus "></i>
                        </button>
      
                        <div data-mdb-input-init class="form-outline">
                          <input id="form1" min="1" max="5" name="quantity" onkeydown="return false;" value="<%= item.products.quantity %>"  type="number" class="form-control" />
                          <label class="form-label" for="form1">Quantity</label>
                        </div>
      
                        <button data-mdb-button-init data-mdb-ripple-init id="incCounter" productId="<%= item.allProducts[0]._id %>" class="btn btn-primary px-3 ms-2 countBtn"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus "></i>
                        </button>
                      </div>
                      <!-- Quantity -->
      
                      <!-- Price -->
                      <p class="text-start text-md-center">
                        <strong class="totalPrice"  >₹ <%= item.allProducts[0].sellingPrice * item.products.quantity %></strong>
                      </p>
                      <!-- Price -->
                    </div>
                  </div>
                  <div class="line"></div>
                  <!-- Single item -->
                  <% } %>



                </div>
              </div>
             
            </div>

            <div class="col-md-4">

              <!-- apply coupon -->
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Apply Coupon</h5>
                </div>
                <div class="card-body">

                  <ul class="list-group list-group-flush">
                      <div class="input-group mb-3">

                        <input type="text" id="couponCode" 
                        <% if(coupon?.coupon?.couponCode) {%>
                         value="<%= coupon.coupon.couponCode %>" disabled
                        <% }else{ %>
                          value=""
                         <% } %>
                        class="form-control border-right-0 border-primary" placeholder="Coupon Code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        
                        <div class="input-group-append">
                          <button class="btn btn-primary" id="couponBtn" type="button">Apply Coupon</button>
                        </div>
                      </div>
                      <div  id="couponCodeMsg"></div>
                  </ul>
                </div>
              </div>



              <!-- summarry portion -->
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Price
                      <span id="price">₹ <%= totalAmount  %></span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Coupon Discount(-)
                      <span id="couponDiscount">₹ 
                        <% if(coupon?.coupon?.couponCode) {%>
                          <%= coupon.coupon.discount %>
                         <% }else{ %>
                           0
                          <% } %>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                      Shipping
                      <span>0</span>
                    </li>
                    
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <div>
                        <strong>Total amount</strong>
                        <strong>
                          <p class="mb-0">(Including all taxes)</p>
                        </strong>
                      </div>
                      <span><strong totalAmount=" <%= totalAmount %>" id="totalAmount">₹ <%= amountAfterDiscount %></strong></span>
                    </li>
                  </ul>
      
                  <a id="checkoutBtn" href="/checkout">
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">
                    Proceed to Checkout
                  </button>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
   </header>


   <footer>
    <%- include('../../partials/userFooter.ejs')  %>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script  src="/js/userjs/purchase/cart.js"></script>

      
      

</body>
</html>